<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/patient"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Patients
      </a>
    </div>
    <div class="col-sm">
      <a href=""
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-book"></i></span>
        <br>Angular
      </a>
    </div>
    <div class="col-sm">
      <a href=""
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-laptop"></i></span>
        <br>Spring Boot
      </a>
    </div>
    <div class="col-sm">
      <a href=""
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-database"></i></span>
        <br>API / UI
      </a>
    </div>
  </div>
</div>
